<section id="up" class="up">

    <h2 class="up__ttl">
        <img src="<%= img %>lower/<%= data.color %>/ttl_up.png" alt="ノブさんの1分間集中力UPチャレンジ！">
    </h2>

    <p class="up__txt"><%- data.up_txt %></p>

    <div class="up__ph">
        <p>
            <img src="<%= img %>lower/up/ph<%= data.day %>.png" alt="">
        </p>
        <button class="js-modal__open" data-id="scale">
            <img src="<%= img %>lower/<%= data.color %>/ico_scale.svg" alt="">
        </button>
    </div>

    <button class="up__answer">
        <img src="<%= img %>lower/<%= data.color %>/btn_answer.svg" alt="答え合わせ！">
    </button>

</section><!-- /.up -->