<section class="footer">

    <h2 class="footer__ttl">
        <img src="<%= img %>top/footer/ttl_online.png" alt="夏のオンラインライブ授業＋動画">
        <button class="js-modal__open" data-id="online">もっと見る</button>
    </h2>

    <dl class="footer__event">
        <dt class="js-delete-strage">
            <img src="<%= img %>top/footer/ttl_event_01.png" alt="EVENT1 5教科要点復習クラス">
        </dt>
        <dd>
            <img src="<%= img %>top/footer/txt_event_07-24.png" alt="7/24（日）英語・国語（動画）">
        </dd>
        <dd>
            <img src="<%= img %>top/footer/txt_event_07-25.png" alt="7/25（月）数学・理科（動画）">
        </dd>
        <dd>
            <img src="<%= img %>top/footer/txt_event_07-26.png" alt="7/26（火）英語・数学・社会（動画）">
        </dd>
    </dl>

    <dl class="footer__mov">
        <dt>
            <img src="<%= img %>top/footer/ttl_mov.svg" alt="授業のあとは動画をチェック！">
        </dt>
        <dd>
            <a href="https://library.benesse.ne.jp/keijiban_member/cblog.shtml?id=sasatto_3kyouka">国理社動画<br>
                見る</a>
        </dd>
    </dl>

    <dl class="footer__event">
        <dt>
            <img src="<%= img %>top/footer/ttl_event_02.png" alt="EVENT2 思考力UPクラス">
        </dt>
        <dd>
            <img src="<%= img %>top/footer/txt_event_07-22.png" alt="7/22（金）数学">
        </dd>
    </dl>

</section><!-- /.footer -->