<section class="header">

    <h1 class="header__logo">
        <img src="<%= img %>top/header/logo.png" alt="10日間夏期講習《チャレ友 SUMMER CAMP》">
    </h1>

    <ul class="header__nav">
        <li>
            <button class="js-modal__open" data-id="schedule1">
                <img src="<%= img %>top/header/ico_calendar.png" alt="">カレンダーを設定する
            </button>
        </li>
        <li>
            <button class="js-modal__open" data-id="schedule2">
                <img src="<%= img %>top/header/ico_question.png" alt="">SUMMER CAMPとは？
            </button>
        </li>
        <li>
            <a href="https://chuak.benesse.ne.jp/redirect/minben/chu.html">
                <img src="<%= img %>top/header/ico_book.png" alt="">みんなで勉強
            </a>
        </li>
    </ul>

    <p class="header__bird">
        <img class="js-timer" data-end="2022/8/7" src="<%= img %>top/header/txt_board_0807.png" alt="8/7（日）〈マークテスト〉合宿開さい！">
        <img class="js-timer" data-start="2022/8/7" data-end="2022/8/7 12:00" src="<%= img %>top/header/txt_board_today.png" alt="本日10:00～〈マークテスト〉合宿開さい！">
        <img class="js-timer" data-start="2022/8/7 12:00" data-end="2022/8/21" src="<%= img %>top/header/txt_board_0821.png" alt="8/21（日）〈マークテスト〉合宿開さい！">
        <img class="js-timer" data-start="2022/8/21" data-end="2022/8/21 12:00" src="<%= img %>top/header/txt_board_today.png" alt="本日10:00～〈マークテスト〉合宿開さい！">
        <img class="js-timer" data-start="2022/8/21 12:00" src="<%= img %>top/header/txt_board_end.png" alt="夏期講習おつかれさま！">
    </p>

</section><!-- /.header -->