<div id="slider" class="slider">

    <nav class="slider__inner">

        <% slider_day.forEach((val, i) => { %>
            <p class="slider__day">
                <a href="./day<%= i + 1 %>.html">
                    <img src="<%= img %>common/ico_day<%= i + 1 %>.svg" alt="DAY<%= i + 1 %>">
                    <time>
                        <em><%= val.month %></em>月<em><%= val.date %></em>日（<%= val.day %>）
                    </time>
                </a>
            </p>
        <% }) %>

        <p class="slider__day -complete">
            <button class="js-modal__open" data-id="complete">
                <img src="<%= img %>slider/ico_omake.png" alt="OMAKE">
                <span>ノブさんの修了証</span>
            </button>
        </p>

        <p class="slider__marktest">
            <a href="https://library.benesse.ne.jp/keijiban_member/cblog.shtml?id=mark_gassyuku_2208">
                <img src="<%= img %>slider/btn_marktest.svg" alt="8/7（日）21（日）〈マークテスト〉一斉取り組み合宿">
            </a>
        </p>

        <dl class="slider__news">
            <dt>
                <img src="<%= img %>slider/ttl_news.png" alt="9月号のお知らせ 8/27（土）・28（日）ゼミソングフェスティバル">
            </dt>
            <dd>音楽でチャレ友と盛り上がって、夏休み明けに向けた<strong>やる気をチャージしよう! </strong>　これから「かんばん」などでお知らせしていくよ。<br>
                ぜひチェックしてね。</dd>
        </dl>

    </nav>

    <button class="slider__arrow -prev">←</button>
    <button class="slider__arrow -next">→</button>

    <div class="m-guide js-modal">
        <p class="m-guide__txt">未来の日付は選択できないよ！<br>
            予定よりも早く取り組みたいときは、カレンダーを再設定しよう。<br>
            <button class="js-modal__open" data-id="modal" data-scene="schedule">カレンダーを設定する</button>
        </p>
        <button class="m-guide__close js-modal__close">✕</button>
    </div><!-- /.m-guide -->

</div><!-- /.slider -->