<div id="slider" class="slider">

	<nav class="slider__inner">

		<% slider_day.forEach((val, i) => { %>
			<p class="slider__day" data-day="<%= i + 1 %>">
				<a href="./day<%= i + 1 %>.html">
					<span>
						<img src="<%= img %>common/ico_day<%= i + 1 %>.svg" alt="DAY<%= i + 1 %>">
					</span>
					<time>
						<em><%= val.month %></em>月<em><%= val.date %></em>日（<%= val.day %>）
					</time>
				</a>
			</p>
		<% }) %>

		<button class="slider__complete shuryosho__open">
			<img src="<%= img %>top/slider/ico_omake.png" alt="OMAKE">ノブさんの修了証
		</button>

		<p class="slider__marktest">
			<a href="https://library.benesse.ne.jp/keijiban_member/cblog.shtml?id=mark_gassyuku_2208">
				<img src="<%= img %>top/slider/btn_marktest.svg" alt="8/7（日）21（日）〈マークテスト〉一斉取り組み合宿">
			</a>
		</p>

		<dl class="slider__news">
			<dt>
				<img src="<%= img %>top/slider/ttl_news.png" alt="9月号のお知らせ 8/27（土）・28（日）ゼミソングフェスティバル">
			</dt>
			<dd>音楽でチャレ友と盛り上がって、夏休み明けに向けた<strong>やる気をチャージしよう!
				</strong>
				これから「かんばん」などでお知らせしていくよ。<br> ぜひチェックしてね。</dd>
		</dl>

	</nav>

	<p class="slider__bird -left">
		<img class="js-timer" data-end="2022/8/7" src="<%= img %>top/slider/txt_board_0807.png" alt="8/7（日）〈マークテスト〉合宿開さい！">
		<img class="js-timer" data-start="2022/8/7" data-end="2022/8/7 12:00" src="<%= img %>top/slider/txt_board_today.png" alt="本日10:00～〈マークテスト〉合宿開さい！">
		<img class="js-timer" data-start="2022/8/7 12:00" data-end="2022/8/21" src="<%= img %>top/slider/txt_board_0821.png" alt="8/21（日）〈マークテスト〉合宿開さい！">
		<img class="js-timer" data-start="2022/8/21" data-end="2022/8/21 12:00" src="<%= img %>top/slider/txt_board_today.png" alt="本日10:00～〈マークテスト〉合宿開さい！">
		<img class="js-timer" data-start="2022/8/21 12:00" src="<%= img %>top/slider/txt_board_end.png" alt="夏期講習おつかれさま！">
	</p>

	<button class="slider__arrow -prev">←</button>
	<button class="slider__arrow -next">→</button>

	<div class="m-guide">
		<p class="m-guide__txt">未来の日付は選択できないよ！<br> 予定よりも早く取り組みたいときは、カレンダーを再設定しよう。<br>
			<button class="js-modal__open" data-id="initial" data-scene="schedule">カレンダーを設定する</button>
		</p>
		<button class="m-guide__close js-modal__close">✕</button>
	</div>
	<!-- /.m-guide -->

</div>
<!-- /.slider -->
